html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Make the body a flex container */
    max-width: 100%;
    overflow-x: hidden;
    background: radial-gradient(#0f3fb8 2%, #ffffff);
    font-family: system-ui;
}

main {
    flex-flow: 1;
}




/*NAVBAR*/

.navbar-main {
    background-color: transparent;
    padding: 1px;
    border: 2px solid;
    border-color: transparent;
    display: inline-block;
}

.navbar-leftside {
    float: left;
    text-align: center;
}

.navbar-rightside {
    float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  display: flex; /* Display list items in a row */
  align-items: center; /* Center the links vertically */
}

ul li {
  margin: 0 20px;
  list-style: none;
  display: inline-block;
}

.navbar-option {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

.navbar-option:hover {
    color: #0f3fb8;
}




/*GENERAL*/

.section {
    margin-bottom: 5%;
}




/*CRUST*/

.section .crust {
   display : flex;
   flex-direction : row;
   
}

.section .crust .crust-side .crust-text {
    text-align: justify;
    line-height: 2;
    padding: 100px;
    font-size: 1.7em;
 }

.section .crust .crust-side .crust-image {
    text-align: justify;
    width: 500px;
    height: 600px;
    padding: 100px;
}




/*LITHOSPHERE*/

.section .lithosphere {
   display : flex;
   flex-direction : row;
   color: white;
   background-color: #002244;
   
}

.section .lithosphere .lithosphere-side .lithosphere-image {
    text-align: justify;
    width: 650px;
    height: 750px;
    padding: 100px;
}

.section .lithosphere .lithosphere-side .lithosphere-text {
    text-align: justify;
    line-height: 2;
    padding: 100px;
    font-size: 1.2em;
 }

.lithosphere-text > a {
    color: white;
    font-style: italic;
}




/*MANTLE*/

.section .mantle {
   display : flex;
   flex-direction : row;
   color: black;
   background-color: transparent;
   
}

.section .mantle .mantle-side .mantle-media {
    text-align: justify;
    width: 650px;
    height: 750px;
    padding: 100px;
}

.section .mantle .mantle-side .mantle-text {
    text-align: justify;
    line-height: 2;
    padding: 100px;
    font-size: 1.2em;
 }

.mantle-text > a {
    color: white;
    font-style: italic;
}




/*CORE*/

.myown-websitelink {
    color: white;
}

.production-owner {
    font-size: 35px;
}

.core-logo {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 45%;
}

.core-logo .logo-title {
    margin-left: 1%;
}



footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #002244;
    color: white;
}










