html {
    background-color: #FFFAEC;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
}

#video_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#california_video {
    position: relative;
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#california_video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


#overlay_logo {
    position: absolute;
    top: 3.5vh; 
    left: 3.5vw; 
    width: 9.5vw; 
    height: auto;
}

#overlay_logo img {
    width: 100%;
    height: auto;
}


#overlay_text {
    position: absolute;
    top: 14vh;
    right: 4vw;
    color: white;
    font-size: 5.5vw;
    font-weight: 310;
    text-align: right;
    padding: 1vw;
    border-radius: 0.5vw;
}